In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
data1 = pd.read_csv('datasets/accepted_2007_to_2018Q4.csv')

c:\users\rishabh\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data1.shape

(2260701, 151)

In [4]:
data2 = pd.read_csv('datasets/rejected_2007_to_2018Q4.csv')

In [5]:
data2.shape

(27648741, 9)

In [6]:
data2.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [7]:
accepted_temp=data1[['loan_amnt', 'fico_range_high', 'fico_range_low', 'dti', 'zip_code', 'addr_state', 'emp_length', 'policy_code']]
rejected_temp=data2.drop(['Application Date','Loan Title'], axis=1)

In [8]:
accepted_temp['Risk_Score']=(accepted_temp["fico_range_low"]+accepted_temp['fico_range_high'])/2

accepted_temp.drop(["fico_range_low",'fico_range_high'], axis=1, inplace=True)

<ipython-input-8-40ca38d594e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_temp['Risk_Score']=(accepted_temp["fico_range_low"]+accepted_temp['fico_range_high'])/2
c:\users\rishabh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
accepted_temp.columns=['Amount Requested','Debt-To-Income Ratio','Zip Code','State','Employment Length','Policy Code','Risk_Score']

In [10]:
accepted_temp.dropna(inplace=True)
rejected_temp.dropna(inplace=True)

<ipython-input-10-3a3cb341af53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_temp.dropna(inplace=True)

In [11]:
accepted_temp['Employment Length']=accepted_temp['Employment Length'].apply(lambda x: str(x).replace(' years',''))
accepted_temp['Employment Length']=accepted_temp['Employment Length'].apply(lambda x: str(x).replace(' year',''))


rejected_temp['Employment Length']=rejected_temp['Employment Length'].apply(lambda x: str(x).replace(' years',''))
rejected_temp['Employment Length']=rejected_temp['Employment Length'].apply(lambda x: str(x).replace(' year',''))

accepted_temp.drop(accepted_temp[accepted_temp['Employment Length'] == 'nan'].index, inplace=True)

rejected_temp['Debt-To-Income Ratio']=rejected_temp['Debt-To-Income Ratio'].apply(lambda x: float(str(x).replace('%','')))

<ipython-input-11-558c90ef4354>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_temp['Employment Length']=accepted_temp['Employment Length'].apply(lambda x: str(x).replace(' years',''))
<ipython-input-11-558c90ef4354>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_temp['Employment Length']=accepted_temp['Employment Length'].apply(lambda x: str(x).replace(' year',''))
c:\users\rishabh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
rejected_temp['Loan Granted']=0
accepted_temp['Loan Granted']=1

<ipython-input-12-e995653847f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_temp['Loan Granted']=1

In [13]:
rejected_temp=pd.concat([accepted_temp,rejected_temp])

In [14]:
rejected_temp.to_csv('df1.csv', index=False)