In [11]:
import pandas as pd
from sklearn import preprocessing

In [12]:
df_final=pd.read_csv('df1.csv')

In [13]:
le = preprocessing.LabelEncoder()
df_final['Zip Code']=le.fit_transform(df_final['Zip Code'])
df_final['State']=le.fit_transform(df_final['State'])
df_final['Employment Length']=le.fit_transform(df_final['Employment Length'])
df_final['Policy Code']=le.fit_transform(df_final['Policy Code'])

In [14]:
df_final

,Amount Requested,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code,Risk_Score,Loan Granted
0,3600.0,5.91,190,38,1,1,677.0,1
1,24700.0,16.06,577,41,1,1,717.0,1
2,20000.0,10.78,605,14,1,1,697.0,1
3,35000.0,17.06,76,31,1,1,787.0,1
4,10400.0,25.37,174,38,3,1,697.0,1
...,...,...,...,...,...,...,...,...
11105847,30000.0,55.15,726,2,10,0,681.0,0
11105848,1000.0,31.31,761,43,10,0,531.0,0
11105849,10000.0,41.26,441,35,10,0,590.0,0
11105850,1200.0,10.26,914,4,10,0,686.0,0
11105851,15000.0,10.58,113,34,10,0,684.0,0

In [15]:
x=df_final.drop(['Loan Granted','Policy Code'],axis=1)
y=df_final.iloc[:,-1]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=1/3,random_state=0)

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [22]:

decision_tree = DecisionTreeClassifier(random_state=0)
decision_tree = decision_tree.fit(X_train, y_train)

print(confusion_matrix(y_test,decision_tree.predict(X_test)))


print("Score on test data:",accuracy_score(y_test,decision_tree.predict(X_test)))


print("Score on train data:",accuracy_score(y_train,decision_tree.predict(X_train)))

[[2910554   88497]
 [  88922  613978]]
Score on test data: 0.9520741900689663
Score on train data: 0.9999835221999862

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
random_forest = RandomForestClassifier(random_state=0, n_estimators=8)
random_forest = random_forest.fit(X_train, y_train)


print(confusion_matrix(y_test,random_forest.predict(X_test)))

print("Score on test data:",accuracy_score(y_test,random_forest.predict(X_test)))

print("Score on train data:",accuracy_score(y_train,random_forest.predict(X_train)))

[[2913481   85570]
 [  90874  612026]]
Score on test data: 0.9523375647057457
Score on train data: 0.9956610711029227